* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}


html {
    scroll-behavior: smooth;
}

.max-width {
    /* max-width: 1300px; */
    padding: 0 80px;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
}

section {
    padding: 100px 0;
}

.section-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1000px;  
    min-width: 300px;
    min-height: 460px;
}

.section-heading {
    margin-bottom: 60px;
    margin-top: 20px;
    font-size: 2rem;
}



/*--------- NavBar ---------*/

.nav-container {
    background-color: #eaeaea;
    height: 80px;
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

.logo {
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    color: #0085fa;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    
}

.nav-elements > a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

.nav-elements > a:hover {
    background-color: #299bff;
    color: white;
}



/* Home */

header {
    margin: 0;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(assets/background.jpg);
    background-position: 50% -125px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    z-index: -1;
}

.home-container {
    height: 100vh;
    width: 80%;
    max-width: 1000px;  
    min-width: 300px;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.cover-img {
    height: 100vh;   
}

.cover-img > img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
}

.text-1 {
    font-size: 24px;
}

.text-2 {
    font-size: 72px;
    font-weight: 600;
    font-style: italic;
}

.text-3 {
    font-size: 28px;
}

.typing-text {
    font-weight: 500;
    color: rgb(70, 242, 182);
}

.typing-text::after {
    content: '|';
    animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


.home-btn {
    margin-top: 24px;
}

.contact-btn {
    background-color: rgb(0, 110, 255);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    padding: 10px;
    transition: all 0.2s;
}

.contact-btn:hover {
    box-shadow: 0px 0px 4px grey;
    padding: 12px;
}



/* About */

.about {
    padding-top: 80px;    
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
}

.about-img {
    display: contents;
}

.about-img img {
    width: 100%;
    max-width: 320px;
    max-height: 320px;
    object-fit: cover;
    border-radius: 12px;
}

.about-detail > h4 {
    font-size: 1.5rem;
    padding-bottom: 20px;
    margin: 0;
}

.about-detail > h4 > span {
    color: #299bff;
}

.about-detail > p {
    font-size: 1rem;
    text-align: justify;
    line-height: 24px;
    padding-bottom: 20px;
}

.resume-btn {
    display: contents;
}

.resume-btn > a {
    background-color: #299bff;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: all 0.2s;
}

.resume-btn:hover > a{
    box-shadow: 0px 0px 2px grey;
    padding: 12px;
}



/* Skills */

.skills, .contact {
    background-color: #d5d2d2;
}

.skill-container, .project-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.skill-box, .project-box {

    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 4px 4px 6px grey;
    transition: all .4s;
}

.skill-box {
    width: 120px;
    height: 120px;
    padding: 8px;
}

.skill-box:hover {
    transform: scale(1.1);
    background-color: #7cb6e8;
    color: white;
}

.skill-box > img {
    width: 80%;
}

.skill-box > p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 6px;
}


/* Project */

.project-box {
    width: 240px;
    height: auto;
    min-height: auto;
    padding: 12px;
    justify-self: center;
}

.project-box:hover {
    transform: scale(1.04);
}

.project-box > img {
    width: 100%;
    border-radius: 8px;
}

.project-box > h3 {
    margin-top: 10px;
    margin-bottom: 8px;
}

.project-box > p {
    text-align: justify;
    font-size: .9rem;
}

.project-box > a {
    margin-top: 8px;
    padding: 6px;
    border: 2px solid #299bff;
    border-radius: 6px;
    text-decoration: none;
    color: #299bff;
    transition: all 0.2s;
}

.project-box > a:hover {
    background-color: #299bff;
    color: white;
    box-shadow: 0px 0px 4px grey;
}


/* Contact */

.contact-container {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2rem;
   justify-content: center;
   align-items: center;
}

.contact-form, .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form h2 {
    margin: 0;
}

.field-1 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.field-1 input {
    width: 50%;
}

.field-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.field-2 input {
    width: 100%;
}

input, textarea {
    font-family: "Ubuntu", sans-serif ;
    font-size: 1rem;
    background-color: white;
    border: none;
    border-radius: 8px;
    height: 3rem;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 10px;
}

input:focus, textarea:focus {
    outline: 2px solid #299bff;
}

textarea {
    resize: vertical;
    height: 5rem;
}

input[type="submit"] {
    background-color: #299bff;
    color: white;
}

input[type="submit"]:hover {
    background-color: #0085fa;
    color: white;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-details h2 {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 20px;
}

.email-num, .social-media {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 20px;
}

.email-num img {
    height: 100%;
}

.email-num a {
    text-decoration: none;
    color: #00559f;
    font-style: italic;
}

.email-field {
    margin-top: 20px;
}

.number-field {
    margin-bottom: 20px;
}

.social-media a {
    height: 26px;
}

.social-media a img {
    height: 100%;
}


/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px 0;
}

.footer .logo {
    margin: 0;
    padding: 0;
}


/* Media query */

/* Extra small devices (portrait phones) */
@media (max-width: 575.98px) {
    .nav-container {
        flex-direction: column;
        height: 10%;
    }

    .logo {
        font-size: 1.6rem;
    }

    .nav-elements {
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .nav-elements > a{
        font-size: 1rem;
        padding: 8px;
    }

    section {
        padding: 40px 0;
    }

    .section-heading {
        margin-bottom: 20px;
        margin-top: 0px;
        font-size: 1.2rem;
    }

    .home-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .cover-img {
        display: none;
    }

    .home-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }

    .text-1 {
        font-size: 1.2rem;
    }

    .text-2 {
        font-size: 3rem;
    }

    .text-3 {
        font-size: 1.4rem;
    }

    .typing-text {
        color: rgb(54, 115, 219);
    }

    .home-btn {
        margin-top: 1rem;
    }

    .contact-btn {
        padding: .6rem;
        transition: all 0.2s;
    }

    .contact-btn:hover {
        padding: .8rem;
    }

    .about-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 28px;
    }

    .about-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-img img {
        max-width: 200px;
        max-height: 200px;
    }

    .about-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-detail > h4 {
        font-size: 20px;
    }

    .about-detail > p {
        font-size: .8rem;
        line-height: 18px;
    }

    .resume-btn > a {
        font-size: 14px;
    }

    .skill-container, .project-container {
        gap: 10px;
    }

    .skill-box {
        width: 80px;
        height: 80px;
        padding: 8px;
    }

    .skill-box > img {
        width: 60%;
    }

    .skill-box > p {
        font-size: .8rem;
    }

    .project-box {
        margin-top: 10px;
    }

    .project-box:hover {
        transform: scale(1.04);
    }

    .project-box > h3 {
        margin-bottom: 6px;
        font-size: 14px;
    }

    .project-box > p {
        font-size: .7rem;
    }

    .project-box > a {
        font-size: .7rem;
    }

    .contact-container {
        grid-template-columns: 1fr;
    }

    .contact-form h2 {
        text-align: center;
    }

    input, textarea {
        font-size: .8rem;
    }

    .contact-details {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .contact-details h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .contact-details p {
        font-size: 14px;
        text-align: center;
    }

    .email-num, .social-media {
        font-size: 14px;
        height: 18px;
    }

    .email-num img {
        height: 100%; 
    }

    .email-field {
        margin-top: 10px;
    }

    .number-field {
        margin-bottom: 10px;
    }

    .social-media a {
        height: 24px;
    }

    .footer {
        padding: 10px 0;
    }

    .footer .logo {
        font-size: 18px;
    }

    .footer p {
        font-size: 12px;
    }

}

/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {}


@media (max-width: 768px) {
    
}





